In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import quandl #API untuk download dataset

In [3]:
auth_tok = "isi token"

tsla = quandl.get("WIKI/TSLA", trim_start = "2010-01-01", trim_end = "2020-10-01", authtoken=auth_tok)

In [4]:
tsla

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2010-06-29,19.00,25.0000,17.54,23.89,18766300.0,0.0,1.0,19.00,25.0000,17.54,23.89,18766300.0
2010-06-30,25.79,30.4192,23.30,23.83,17187100.0,0.0,1.0,25.79,30.4192,23.30,23.83,17187100.0
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,0.0,1.0,25.00,25.9200,20.27,21.96,8218800.0
2010-07-02,23.00,23.1000,18.71,19.20,5139800.0,0.0,1.0,23.00,23.1000,18.71,19.20,5139800.0
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,0.0,1.0,20.00,20.0000,15.83,16.11,6866900.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,310.25,322.4400,310.19,316.53,5927881.0,0.0,1.0,310.25,322.4400,310.19,316.53,5927881.0
2018-03-22,313.89,318.8200,308.18,309.10,4914307.0,0.0,1.0,313.89,318.8200,308.18,309.10,4914307.0
2018-03-23,311.25,311.6100,300.45,301.54,6600538.0,0.0,1.0,311.25,311.6100,300.45,301.54,6600538.0
2018-03-26,307.34,307.5900,291.36,304.18,8324639.0,0.0,1.0,307.34,307.5900,291.36,304.18,8324639.0
2018-03-27,304.00,304.2700,277.18,279.18,13696168.0,0.0,1.0,304.00,304.2700,277.18,279.18,13696168.0

In [5]:
tsla.to_csv('tslaq.csv')
tsla = pd.read_csv('tslaq.csv', index_col=('Date'))

In [6]:
tsla

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2010-06-29,19.00,25.0000,17.54,23.89,18766300.0,0.0,1.0,19.00,25.0000,17.54,23.89,18766300.0
2010-06-30,25.79,30.4192,23.30,23.83,17187100.0,0.0,1.0,25.79,30.4192,23.30,23.83,17187100.0
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,0.0,1.0,25.00,25.9200,20.27,21.96,8218800.0
2010-07-02,23.00,23.1000,18.71,19.20,5139800.0,0.0,1.0,23.00,23.1000,18.71,19.20,5139800.0
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,0.0,1.0,20.00,20.0000,15.83,16.11,6866900.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,310.25,322.4400,310.19,316.53,5927881.0,0.0,1.0,310.25,322.4400,310.19,316.53,5927881.0
2018-03-22,313.89,318.8200,308.18,309.10,4914307.0,0.0,1.0,313.89,318.8200,308.18,309.10,4914307.0
2018-03-23,311.25,311.6100,300.45,301.54,6600538.0,0.0,1.0,311.25,311.6100,300.45,301.54,6600538.0
2018-03-26,307.34,307.5900,291.36,304.18,8324639.0,0.0,1.0,307.34,307.5900,291.36,304.18,8324639.0
2018-03-27,304.00,304.2700,277.18,279.18,13696168.0,0.0,1.0,304.00,304.2700,277.18,279.18,13696168.0

In [7]:
tsla.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2010-06-29,19.00,25.0000,17.54,23.89,18766300.0,0.0,1.0,19.00,25.0000,17.54,23.89,18766300.0
2010-06-30,25.79,30.4192,23.30,23.83,17187100.0,0.0,1.0,25.79,30.4192,23.30,23.83,17187100.0
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,0.0,1.0,25.00,25.9200,20.27,21.96,8218800.0
2010-07-02,23.00,23.1000,18.71,19.20,5139800.0,0.0,1.0,23.00,23.1000,18.71,19.20,5139800.0
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,0.0,1.0,20.00,20.0000,15.83,16.11,6866900.0

In [8]:
tsla.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0
2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0

In [9]:
tsla.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,1949.000000,1949.000000,1949.000000,1949.000000,1.949000e+03,1949.0,1949.0,1949.000000,1949.000000,1949.000000,1949.000000,1.949000e+03
mean,158.686482,161.315984,155.863583,158.641133,4.548989e+06,0.0,1.0,158.686482,161.315984,155.863583,158.641133,4.548989e+06
std,111.101793,112.587258,109.427114,111.041316,4.185588e+06,0.0,0.0,111.101793,112.587258,109.427114,111.041316,4.185588e+06
min,16.140000,16.630000,14.980000,15.800000,1.185000e+05,0.0,1.0,16.140000,16.630000,14.980000,15.800000,1.185000e+05
25%,31.600000,32.250000,30.870000,31.600000,1.350400e+06,0.0,1.0,31.600000,32.250000,30.870000,31.600000,1.350400e+06
50%,192.050000,195.120000,189.000000,192.690000,3.715161e+06,0.0,1.0,192.050000,195.120000,189.000000,192.690000,3.715161e+06
75%,240.490000,244.090000,235.670700,240.240000,6.076998e+06,0.0,1.0,240.490000,244.090000,235.670700,240.240000,6.076998e+06
max,386.690000,389.610000,379.345000,385.000000,3.716390e+07,0.0,1.0,386.690000,389.610000,379.345000,385.000000,3.716390e+07

In [10]:
tsla.index

Index(['2010-06-29', '2010-06-30', '2010-07-01', '2010-07-02', '2010-07-06',
       '2010-07-07', '2010-07-08', '2010-07-09', '2010-07-12', '2010-07-13',
       ...
       '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-19', '2018-03-20',
       '2018-03-21', '2018-03-22', '2018-03-23', '2018-03-26', '2018-03-27'],
      dtype='object', name='Date', length=1949)

In [11]:
tsla.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio',
       'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume'],
      dtype='object')

In [12]:
tsla['diff'] = tsla.Open - tsla.Close

In [13]:
tsla['diff']

Date
2010-06-29    -4.89
2010-06-30     1.96
2010-07-01     3.04
2010-07-02     3.80
2010-07-06     3.89
              ...
2018-03-21    -6.28
2018-03-22     4.79
2018-03-23     9.71
2018-03-26     3.16
2018-03-27    24.82
Name: diff, Length: 1949, dtype: float64

In [14]:
tsla

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,diff
Date,,,,,,,,,,,,,
2010-06-29,19.00,25.0000,17.54,23.89,18766300.0,0.0,1.0,19.00,25.0000,17.54,23.89,18766300.0,-4.89
2010-06-30,25.79,30.4192,23.30,23.83,17187100.0,0.0,1.0,25.79,30.4192,23.30,23.83,17187100.0,1.96
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,0.0,1.0,25.00,25.9200,20.27,21.96,8218800.0,3.04
2010-07-02,23.00,23.1000,18.71,19.20,5139800.0,0.0,1.0,23.00,23.1000,18.71,19.20,5139800.0,3.80
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,0.0,1.0,20.00,20.0000,15.83,16.11,6866900.0,3.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,310.25,322.4400,310.19,316.53,5927881.0,0.0,1.0,310.25,322.4400,310.19,316.53,5927881.0,-6.28
2018-03-22,313.89,318.8200,308.18,309.10,4914307.0,0.0,1.0,313.89,318.8200,308.18,309.10,4914307.0,4.79
2018-03-23,311.25,311.6100,300.45,301.54,6600538.0,0.0,1.0,311.25,311.6100,300.45,301.54,6600538.0,9.71
2018-03-26,307.34,307.5900,291.36,304.18,8324639.0,0.0,1.0,307.34,307.5900,291.36,304.18,8324639.0,3.16
2018-03-27,304.00,304.2700,277.18,279.18,13696168.0,0.0,1.0,304.00,304.2700,277.18,279.18,13696168.0,24.82

In [16]:
tsla = tsla.drop(columns= ['Ex-Dividend', 'Adj. Open','Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume'])

In [48]:
tsla

              Open      High     Low   Close      Volume  Split Ratio   diff
Date
2010-06-29   19.00   25.0000   17.54   23.89  18766300.0          1.0  -4.89
2010-06-30   25.79   30.4192   23.30   23.83  17187100.0          1.0   1.96
2010-07-01   25.00   25.9200   20.27   21.96   8218800.0          1.0   3.04
2010-07-02   23.00   23.1000   18.71   19.20   5139800.0          1.0   3.80
2010-07-06   20.00   20.0000   15.83   16.11   6866900.0          1.0   3.89
...            ...       ...     ...     ...         ...          ...    ...
2018-03-21  310.25  322.4400  310.19  316.53   5927881.0          1.0  -6.28
2018-03-22  313.89  318.8200  308.18  309.10   4914307.0          1.0   4.79
2018-03-23  311.25  311.6100  300.45  301.54   6600538.0          1.0   9.71
2018-03-26  307.34  307.5900  291.36  304.18   8324639.0          1.0   3.16
2018-03-27  304.00  304.2700  277.18  279.18  13696168.0          1.0  24.82

[1949 rows x 7 columns]

In [25]:
print(tsla.sample(20))

              Open      High       Low    Close      Volume  Split Ratio  \
Date
2011-10-28   28.50   30.0000   28.0100   29.870   1264000.0          1.0
2010-12-08   32.48   32.4900   31.5200   32.370    660000.0          1.0
2017-03-31  278.73  279.6800  276.3197  278.300   3294640.0          1.0
2016-09-01  209.01  211.0999  200.5000  200.770   7943138.0          1.0
2015-03-13  188.95  191.7500  187.3200  188.680   5434298.0          1.0
2015-10-09  220.93  224.3700  218.3600  220.690   6158370.0          1.0
2013-04-23   51.00   52.9200   50.6600   51.010   3733800.0          1.0
2015-08-20  252.06  254.5600  241.9000  242.180   4905757.0          1.0
2012-05-31   30.07   30.2900   28.7500   29.500   1118700.0          1.0
2012-07-16   34.32   36.0000   33.9000   35.960   1744000.0          1.0
2012-11-21   32.61   33.4700   32.2860   32.470    963200.0          1.0
2011-07-18   27.34   27.4500   26.6300   27.230    851900.0          1.0
2015-03-24  201.58  203.7900  199.7500  201.720   3649860.0          1.0
2010-08-27   19.75   19.8650   19.5000   19.700    379600.0          1.0
2013-07-26  128.14  130.6800  126.6100  129.390   9633100.0          1.0
2013-09-18  167.07  167.4500  164.2000  166.218   5439700.0          1.0
2015-07-14  262.10  265.9899  260.5100  265.650   1907641.0          1.0
2017-09-22  366.49  369.8999  350.8800  351.090   8105653.0          1.0
2013-07-30  134.80  137.4900  128.1800  131.740  13127000.0          1.0
2015-08-26  227.93  228.0000  215.5100  224.840   4963042.0          1.0

              diff
Date
2011-10-28  -1.370
2010-12-08   0.110
2017-03-31   0.430
2016-09-01   8.240
2015-03-13   0.270
2015-10-09   0.240
2013-04-23  -0.010
2015-08-20   9.880
2012-05-31   0.570
2012-07-16  -1.640
2012-11-21   0.140
2011-07-18   0.110
2015-03-24  -0.140
2010-08-27   0.050
2013-07-26  -1.250
2013-09-18   0.852
2015-07-14  -3.550
2017-09-22  15.400
2013-07-30   3.060
2015-08-26   3.090

IndentationError: expected an indented block (<ipython-input-11-72c09aa35aaf>, line 7)